<!DOCTYPE html>
<html lang="en-us">

<head>
  <title>COMIC-VERSE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Bangers">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link rel="stylesheet" type="text/css" href="/styles/profile.css">
  <link rel="stylesheet" type="text/css" href="/styles/sign_up.css">
  <link rel="stylesheet" type="text/css" href="/styles/Login.css">
  <link rel="stylesheet" type="text/css" href="/styles/heroes.css">
  <link rel="stylesheet" type="text/css" href="/styles/villains.css">
  <link rel="stylesheet" type="text/css" href="/styles/view.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  {{{body}}}

</body>

</html>