<div class="SignupSuperSizer"></div>
<div class="container ">
    <!-- Content here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#divBar"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="divBar">
            <ul class="navbar-nav mr-auto" id="ulForBar">
                <li class="nav-item active">
                    <a class="nav-link" id="home" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/hero">Heroes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/villain">Villains</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropMenu">
                        <a class="dropdown-item" id="drops" href="/profile">Profile</a>
                        <a class="dropdown-item" id="drops" href="/editprofile">Edit Profile</a>
                        <div class="dropdown-divider"></div>
                        {{!-- <a class="dropdown-item" id="drops" href="#">Contact-Us</a> --}}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/clash">CLASH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/add">Add Hero/Villain</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="smallNavs" href="/login">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="smallNavs" href="/signup">SIGN-UP</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/api" method="GET">
                <input class="form-control mr-sm-2" type="search" id="name" name="name" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container setUpForAdd">
    <div class="row">

        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <h3><strong>Add Character</strong></h3>
                </div>
                <div class="card-body">
                    <form method="POST" role="form">

                        <div class="form-group">
                            <label for="name">HERO or VILLAIN</label>
                            <input type="text" class="form-control" id="name">
                        </div>

                        <div class="form-group">
                            <label for="role">ROLE</label>
                            <input type="text" class="form-control" id="role">
                        </div>

                    {{!-- for the sql we have to switch some fors   --}}
                        <div class="form-group">
                            <label for="strengths">STRENGTHS</label>
                            <input type="text" class="form-control" id="age">
                        </div>

                    
                        <div class="form-group">
                            <label for="powers">POWERS</label>
                            <input type="text" class="form-control" id="force-points">
                        </div>

                    </form>
                    <br>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary btn-md" id="add-btn"><span
                                class="fa fa-fire"></span> ADD TO THE COMIC-VERSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    
    
    {{!-- We are going change this up but for now but this a reference --}}
    <script type="text/javascript">
        // Question: What does this code do?
        $("#add-btn").on("click", function (event) {
            event.preventDefault();
            var newCharacter = {
                name: $("#name").val().trim(),
                role: $("#role").val().trim(),
                age: $("#age").val().trim(),
                forcePoints: $("#force-points").val().trim()
            };

            // Question: What does this code do??
            $.post("/api/characters", newCharacter)
                .then(function (data) {
                    console.log("add.html", data);
                    alert("Adding character...");
                });
        });
    </script>