<div class="SignupSuperSizer"></div>
<div class="container">
    <!-- Content here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#divBar"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="divBar">
            <ul class="navbar-nav mr-auto" id="ulForBar">
                <li class="nav-item active">
                    <a class="nav-link" id="home" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/hero">Heroes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/villain">Villains</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropMenu">
                        <a class="dropdown-item" id="drops" href="/profile">Profile</a>
                        <a class="dropdown-item" id="drops" href="/editprofile">Edit Profile</a>
                        <div class="dropdown-divider"></div>
                        {{!-- <a class="dropdown-item" id="drops" href="#">Contact-Us</a> --}}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/clash">CLASH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/add">Add Hero/Villain</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="smallNavs" href="/login">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="smallNavs" href="/signup">SIGN-UP</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/api" method="GET">
                <input class="form-control mr-sm-2" type="search" id="name" name="name" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <br />
    <!-- INTRO AND SLIDESHOW OF COMICBOOK COVERS -->
    <div class="jumbotron topPageJumbo">
        <div class="w3-content w3-section" style="max-width:500px; float: right; overflow: auto;">
            <img class="mySlides2" src="/images/heroPics/batgirl.jpg" style="width: 350px;
                        height: 430px;">
            <img class="mySlides2" src="/images/heroPics/captCover.png" style="width: 350px;
                        height: 430px;">
            <img class="mySlides2" src="/images/heroPics/greenLanterArrow.jpg" style="width: 350px;
                        height: 430px;">
            <img class="mySlides2" src="/images/heroPics/supermanCover.jpeg" style="width: 350px;
                        height: 430px;">
            <img class="mySlides2" src="/images/heroPics/xmenCover.jpeg" style="width: 350px;
                        height: 430px;">
            <img class="mySlides2" src="/images/heroPics/hellboyPic.jpg" style="width: 350px;
                        height: 430px;">
        </div>

        <h1 class="display-4">COMIC-VERSE</h1>
        <!-- <p class="lead"></p>
            <hr class="my-4"> -->


        <!-- INTRO OF THE HOME-PAGE -->
        <h3>Welcome the COMIC-VERSE!</h3>
        <h3>Find any Character with ease!</h3>

        <br/>

        {{!-- this is the small icon in jumbotron in home page right under welcome text --}}
        <p>
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-01.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-05.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-02.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-03.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-04.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-06.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-07.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-08.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-09.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-10.png" id="heroAndVillainIcons">
        </p>
        <p>
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-11.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-12.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-13.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-14.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-15.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-16.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-17.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-18.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-19.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-20.png" id="heroAndVillainIcons">
        </p>
         <p>
            
           
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-21.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-22.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-23.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-24.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-25.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-26.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-27.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-28.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-29.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-30.png" id="heroAndVillainIcons">
        </p>
          <p>
    

            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-31.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-32.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-33.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-34.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-35.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-36.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-37.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-38.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-39.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-40.png" id="heroAndVillainIcons">
        </p>
        <p>
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-41.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-42.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-43.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-44.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-45.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-46.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-47.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-48.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-49.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-50.png" id="heroAndVillainIcons">
        </p>
        <p>
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-51.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-52.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-53.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-54.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-55.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-56.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-57.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-58.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-59.png" id="heroAndVillainIcons">
            <img src="/images/heroAndHeroIcons/PNG_Color/heroes-and-villains-60.png" id="heroAndVillainIcons">
        </p>
     
    </div>
    <!-- END OF JUMBOTRON -->
    <br />
    <hr>
    <br />

    <!-- THE COMIC TRIVIA SECTION -->
    <div class="container triviaDiv">
        <h2 class="w3-center">Comic Trivia</h2>

        <div class="w3-content float-none">
            <div class="mySlides w3-container w3-red">
                <!-- <h1><b>Did You Know?</b></h1> -->
                <h1><i>He knows Batman is Bruce Wayne, but he doesn’t care.</i></h1>
                <p>While not explicitly stated in the comic books or any other source material, it has been hinted at
                    for years that The Joker actually knows that Batman is Bruce Wayne. For example, The Joker has a
                    habit of targeting anyone close to Batman as well as anyone close to Bruce. He’s even cut off
                    Alfred’s (Bruce Wayne’s butler) hand once! Many fans speculate that The Joker sees Bruce Wayne as a
                    mask for Batman (as opposed to the other way around), and would simply be bored to death if either
                    persona were ever harmed.</p>
            </div>

            <img class="mySlides" src="/images/heroPics/jokerHa.jpeg" style="width: 350px;
            height: 430px;">

            <div class="mySlides w3-container w3-xlarge w3-white w3-card-4">
                <h1>Bane Broke Batman Back,</h1>
                <p>After deducing Batman's secret identity and invading the sanctity of Wayne Manor and the Batcave,
                    Bane not only defeated Batman, but broke his back, leaving him crippled and wheelchair-bound.
                    Helpless, Bruce Wayne left his costume and crime-fighting duties to Jean Paul Valley and set out on
                    an arduous quest to regain his strength and will to fight. Eventually, after much rehabilitation and
                    training with the beautiful but deadly Lady Shiva, Wayne returned to Gotham to reclaim the mantle of
                    the Dark Knight.</p>

            </div>

            <img class="mySlides" src="/images/heroPics/batmanHoldingCatWoman.jpeg" style="width: 350px;
            height: 430px;">
        </div>
    </div>
    <!-- END OF TRIVIA SECTION -->
    <br />
    <hr>
    <br />

    <!-- HERO AND VILLAIN OF THE DAY SECTION -->
    <div class="container">
        <div class="row">
            <div class="col" id="heroAndVillainDiv">

                <br />
                <br />
                <h1 style="text-align: center;">HERO & VILLAIN OF THE DAY</h1>
                <br />
            </div>
        </div>
        <div id="heroAndVillainDiv">
            <div class="card" style="width: 18rem; float: left;">
                <img class="card-img-top" src="/images/heroPics/ironMan.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h2>IRON MAN</h2>
                    <p class="card-text">A wealthy American business magnate, playboy, and ingenious scientist, Anthony
                        Edward "Tony" Stark suffers a severe chest injury during a kidnapping. When his captors attempt
                        to
                        force him to build a weapon of mass destruction, he instead creates a powered suit of armor to
                        save
                        his life and escape captivity. Later, Stark develops his suit, adding weapons and other
                        technological devices he designed through his company, Stark Industries. He uses the suit and
                        successive versions to protect the world as Iron Man. Although at first concealing his true
                        identity, Stark eventually declared that he was, in fact, Iron Man in a public announcement.</p>
                    <a href="#">Go to Bio</a>
                </div>
            </div>
            <div class="card" style="width: 18rem; float: right;">
                <img class="card-img-top" src="/images/villianPics/doom2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2>DR. DOOM</h2>
                    <p class="card-text">Victor Von Doom is a polymath and scientist who possesses genius-level
                        intellect.
                        Throughout most of his publication history, he has been depicted as one of the most intelligent
                        humans in the Marvel Universe. On the other hand, Richards managed to process all the computer
                        calculations necessary to save the life of a disintegrating Kitty Pryde by himself, which is a
                        feat
                        that Doom at the time professed to be unable to do.</p>
                    <a href="#">Go to Bio</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero of the day
        Villian of the day -->
</div>
<!-- SCRIPT OF THE SLIDESHOWS OF THE COVER AND TRIVIA SECTIONS(WE CAN MOVE IT SOMEWHERE ELSE IN THE FUTUTE) -->
<script>
    var slideIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) { slideIndex = 1 }
        x[slideIndex - 1].style.display = "block";
        setTimeout(carousel, 11000);
    }
    var slideIndex2 = 0;
    carousel2();
    function carousel2() {
        var i;
        var x = document.getElementsByClassName("mySlides2");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex2++;
        if (slideIndex2 > x.length) { slideIndex2 = 1 }
        x[slideIndex2 - 1].style.display = "block";
        setTimeout(carousel2, 4000);
    }
</script>



<!-- </div> -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../../models/index.js"></script>  -->