<div class="SignupSuperSizer"></div>
<div class="container">
    <!-- Content here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#divBar"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="divBar">
            <ul class="navbar-nav mr-auto" id="ulForBar">
                <li class="nav-item active">
                    <a class="nav-link" id="home" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/hero">Heroes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/villain">Villains</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropMenu">
                        <a class="dropdown-item" id="drops" href="/profile">Profile</a>
                        <a class="dropdown-item" id="drops" href="/editprofile">Edit Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="drops" href="#">Contact-Us</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/clash">CLASH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navs" href="/add">Add Hero/Villain</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="smallNavs" href="/login">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="smallNavs" href="/signup">SIGN-UP</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
        <div class="container">
            <h1>First Pag Add</h1>
            <div class="row">
                {{#each villains}}
                <a href="accordion.html?#{{this.name}}">{{this.name}}</a>
                {{/each}}
            </div>
        </div>       
        
        <div class="container">
            <h1>Second Page Add</h1>
            <div class="row">
               <div class="panel list-group">
                    {{#each villains}}
                    <a id="/view/hero/{{this.name}}"></a>
                    <button class="list-group-item" data-toggle="collapse" data-target="#item-1" data-parent="#accordion"><strong>{{this.name}}</strong></button>
                    <div id="item-1" class="collapse">
                        No. What is on second.
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
            <script>//
                // accordionExpand.js
                //
                // Checks for hash in url and
                // expands an accordion list
                // =============================
                jQuery(document).ready(function($) {
                    
                    var hash        = window.location.hash, // Hash from the url
                    accordionGroup  = $('.panel.list-group'), // List groups
                    accordionExists = accordionGroup.length;
                    
                    // If url fragment and accordion both exist...
                    if(hash && accordionExists) {
                      // Find the button sibling of the anchor and click it
                      accordionGroup.find(hash).siblings('button.list-group-item').click();
                    }
                });
                </script>
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
    <script src="../../models/index.js"></script> 