#indexOfAllHeroes{
    background-color:#ffffff9a;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.646), 0 12px 40px rgba(0, 0, 0, 0.329);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#heroIndex{
    font-size: 70px;
    padding-top: 80px;
}
#heroStylingBoxes{
    padding-left: 15px;
    padding-right: 15px;
    /* margin: 5px; */
    background-color: rgb(237, 249, 6);
    font-size: 20px;
    color:rgb(73, 170, 211)
}
#heroStylingBoxes:hover{
    /* width: 70px; */
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
    color:  darkblue;
    background-color: red;
    font-size: 30px;
}
#styleNavSeachButtonHero:hover{
    width: 75px;
    height: 50px;
    font-size: 20px;
    padding-bottom: 20px;
    /* color: black; */
    background-color: black;
    color: gold; 
    border-color: black;
  } 
