
/* ALOT OF SELECTOR/PROPS SO MAKE A NEW FILE ******************** */
body{
  padding-top: 80px;
  /* padding-bottom: 70px; */
}

/* basically the far bottom of the home page. Getting it some breathing room*/
#heroAndVillainDiv{
  padding: 40px;
} 

/* hover makes font bigger than normal */
 #home:hover, #navs:hover, #navbarDropdown:hover, #drops:hover, #smallNavs:hover{
  background-color: rgb(45, 40, 40);
  color:  #3ef43e;
  font-size: 35px;
}

#styleNavbarBtn:hover{
  width: 70px;
  height: 40px;
  color:  #3ef43e;
}
/* #styleNavSearchBar:hover{
  width: 460px;
  height: 50px;
}*/
#styleNavSeachButton:hover{
  width: 75px;
  height: 50px;
  font-size: 20px;
  padding-bottom: 20px;
  color: black; 
} 

/* that is finally in a good position. No lags or spasms in
some sizes of the browser window no touchy */
#styleNavbarForm:hover{
  /* margin: 10px; */
  padding-top: 30px;
  padding-bottom: 30px
}

/* #styleNavbarBtn{
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
} */
#home:hover{
  color: rgb(159, 237, 232);
}
.list-group-item {
  line-height: 2.5;
}
body{
  font-family: 'Bangers';font-size: 22px;
  
}
/* img:hover{
  opacity: 0;
} */
a{
  color:  #00e500;

}
a:hover{
  color: rgb(215, 18, 87);
}
.mySlides2{
  float: right;
  width: 25px;
  height: 25px;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(26, 25, 25));
  filter: drop-shadow(5px 5px 5px rgb(24, 23, 23));
}
#backToHeroesIndex, #backToVillainsIndex{
  font-size: 19px;
  float: right;
  color:  #10ab10;
}
#backToHeroesIndex:hover, #backToVillainsIndex:hover{
font-size: 30px;
color:  #27df27;
}

#randomHero {
  width: 250px;
  height: 250px;
}
#randomVillain {
  width: 250px;
  height: 250px;
}
/* SUPERHERO COLOR ON HOVERING ON THE NAVS (TESTING) */
/* #home:hover{
  background-color: black;
  color: rgb(255,242,0);
}
#heroOnNav:hover{
  background-color:rgb(230, 60, 71);
  color:rgb(39, 50, 123);
}
#villainOnNav:hover {
  background-color: rgb(83, 48, 128);
  color: #16ff16;
}
#clashOnNav:hover{
  background-color: rgb(165,24,24);
  color: rgb(230, 233, 64);
  
} */
/* #heroAndVillainIcons{
  width: 25px;
  height: 25px;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(77, 71, 71));
  filter: drop-shadow(5px 5px 5px rgb(70, 65, 65));

} /
#heroAndVillainIcons:hover{
  width: 35px;
  height: 35px;
} */
.superSizer{
  background-image: url("/images/heroPics/indexbackgroundAgain.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0.5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
}
.HeroPageSuperSizer{
  background-image: url("/images/villianPics/villainBackgroundGround.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0.5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
}
.VillainPageSuperSizer{
  background-image: url("/images/villianPics/villainBGMystery.JPG");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0.5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
}
.LoginSuperSizer{
  /* background-image: url("../../heroPics/backgroundComicsMarvel.jpeg"); */
  background-image: url("/images/heroPics/loginComicBackground.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0.5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
}
.SignupSuperSizer{
  /* background-image: url("../../heroPics/backgroundComicsMarvel.jpeg"); */
  background-image: url("/images/heroPics/signupBackground.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
  opacity: 0.5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
}
.topPageJumbo, .triviaDiv, .card, #profileBGTrans{ 
    background-color:#ffffff9a;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.646), 0 12px 40px rgba(0, 0, 0, 0.329);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#profileBGTrans{ 
  padding: 30px;
}

#divOfOneCharacter{
  background-color:#ffffff9a;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.646), 0 12px 40px rgba(0, 0, 0, 0.329);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#heroAndVillainDiv{
  /* z-index: -1;*/
  background-color:#ffffff9a;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.625), 0 12px 40px rgba(0, 0, 0, 0.356);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

} 


.triviaDiv{
  padding-top: 25px;
  padding-bottom: 25px;
}



.mylist{
  display:none;
  width: 200px;
  height: 300px;
}
#login{
  color: rgb(0, 0, 0);
}

#home{
  color: rgb(159, 237, 232);
  font-size: 30px;
}

#divBar{
  color: #0df20d;
}

#navs{
  color: #18f418;
  font-size: 30px;
}

#dropMenu{
  color: #00e500;
  background-color: black;
}

#navbarDropdown{
  color: #12e812;
  font-size: 30px;
}

#drops{
  color: #00e500;
  background-color: rgb(36, 34, 34);
}

#smallNavs{
  color: #00e500;
  font-size: 19px;
}

.introToClash{
  font-size: 100px;
}

@media only screen and (max-width: 1000px) {
  #navs, #navbarDropdown {
    font-size: 22px;
  }
}
