.list-group-item {
  line-height: 2.5;
}
body{
  font-family: 'Bangers';font-size: 22px;
  
}
img:hover{
  opacity: 0.5;
}
a{
  color:  #00e500;

}
a:hover{
  color: rgb(215, 18, 87);
}
.superSizer{
  background-image: url("/Users/Shampopencil/Desktop/GROUPPROJECT2/GroupProjectTwo/heroPics/backgroundComicsMarvel.jpeg");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0.5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
}
.mylist{
  display:none;
  overflow: auto;
  color: blue;
}