#villainsPage{
    background-color:#ffffff9a;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.646), 0 12px 40px rgba(0, 0, 0, 0.329);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding-top: 50px;
}
#villainsIndex{
    font-size: 60px;
}
